In [1]:
import pandas as pd

In [16]:
df = pd.read_excel(r"users.xlsx")

In [23]:
df

abc

In [26]:
df.loc[len(df.index)] = ['sarthak', 'pass'] 
df

     Email Password
0      abc      abc
1  sarthak     pass

In [27]:
df.loc[len(df.index)] = ['sarthak', 'pass']

In [29]:
df.to_excel('users.xlsx')

In [30]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [36]:
df = pd.read_excel(r"users.xlsx")

In [37]:
df

Empty DataFrame
Columns: [Email, Password, Name , Address, Phone]
Index: []

In [1]:
import pandas as pd
df = pd.read_excel(r"users.xlsx")

In [2]:
df

,Email,Password,Name,Address,Phone
0,NaN,NaN,NaN,NaN,NaN
1,sarthak.swarnkar1@gmail.com,password,sarthak swarnkar,address yahi h lol,9.131393e+09

In [13]:
for i in df:
    if(i == 'Email'):
        print('Hello')

Hello

In [14]:
import pandas as pd
df = pd.read_excel(r"users.xlsx")

In [15]:
for i in df:
    if(i == 'Name'):
        print('Hello')

Hello

In [16]:
for i in df['Name']:
    print(i)

nan
sarthak swarnkar

In [20]:
service_provider_database = pd.read_excel(r"service_providers.xlsx")

In [21]:
print(service_provider_database['Email'][0])

reet@gmail.com

In [24]:
ls = []
q = 0
for i in service_provider_database['Email']:
    ls.append([service_provider_database['Email'][q]])
    q += 1
print(ls)

[['reet@gmail.com'], ['abc'], ['asfasdg'], ['asdas']]

In [25]:
service_provider_database

            Email  Password    Name             Address  Phone Service Type
0  reet@gmail.com  password     reet   plumber ki dukan      0      plumber
1             abc  password  khairha  plumber ki dukan2      2      plumber
2         asfasdg  password       oo  plumber ki dukan4     34      plumber
3           asdas  password   asdasd             ok ok    7878      plumber

In [26]:
print(service_provider_database['Service Type'][0])

plumber

In [27]:
print(type(service_provider_database['Service Type'][0]))

<class 'str'>

In [28]:
print(len(service_provider_database['Service Type'][0]))

7

In [37]:
current = pd.read_excel(r"current_user.xlsx")

In [38]:
current

Empty DataFrame
Columns: [Current]
Index: []

In [39]:
current.loc[len(current.index)] = ['sarthak']

current

In [40]:
current

   Current
0  sarthak

In [42]:
print(current['Current'][0])

sarthak

In [43]:
current.drop(current.tail(1).index,inplace=True)

In [44]:
current

Empty DataFrame
Columns: [Current]
Index: []

In [45]:
current.to_excel('current.xlsx')

In [2]:
df = pd.read_excel(r"requests.xlsx")

In [3]:
df

Empty DataFrame
Columns: [from, to , date requested, date estimated, feedback, visiting charge, accepted or declined ]
Index: []